<mat-toolbar color="primary">
  <span>M183 Forum</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="(user|async)?.rights[0].right === 'ROLE_EDITOR'"
          (click)="router.navigateByUrl('/post/create')">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button *ngIf="(user|async)?.rights[0].right === 'ROLE_ADMIN'">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button *ngIf="user|async" [mat-menu-trigger-for]="accountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button mat-button (click)="router.navigateByUrl('/users')">Manage Users</button>
  </mat-menu>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
