<mat-toolbar color="primary">
  <span>M183 Forum</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="(user|async)?.roles[0] === 'ROLE_EDITOR'">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button *ngIf="(user|async)?.roles[0] === 'ROLE_ADMIN'">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button *ngIf="user|async">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
