<mat-toolbar color="primary">
  <span [routerLink]="'/home'">M183 Blog</span>
  <span class="spacer"></span>
  <button [routerLink]="'/post/create'" *ngIf="(user|async)?.rights[0].right === 'ROLE_EDITOR'" mat-icon-button>
    <mat-icon>edit</mat-icon>
  </button>
  <button *ngIf="(user|async)?.rights[0].right === 'ROLE_ADMIN'" mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
  <button *ngIf="(user|async)?.rights[0].right === 'ROLE_ADMIN'" [mat-menu-trigger-for]="accountMenu" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #accountMenu="matMenu">
    <button [routerLink]="'/users'" mat-button>Manage Users</button>
  </mat-menu>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
