.container {
  height: calc(100vh - 64px);
}

@media screen and (max-width: 600px) {
  .container {
    height: calc(100vh - 56px);
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar span:first-of-type {
  cursor: pointer;
}
