<div class="container">
  <h1>{{post?.title}}</h1>
  <p class="author-date">{{post?.author?.username}} - {{post?.category?.name}} - {{post?.uploaded | date}}</p>
  <p class="content">{{post?.content}}</p>
</div>
<div class="container comments">
  <h2>Comments
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>comment</mat-icon>
    </button>
  </h2>
  <div *ngFor="let comment of comments | async" class="comment">
    <app-comment [comment]="comment" (reload)="loadComments()"></app-comment>
  </div>
</div>
