<div class="wrapper">
  <mat-card>
    <mat-card-title *ngIf="!id">Create post</mat-card-title>
    <mat-card-title *ngIf="id">Edit post</mat-card-title>

    <form (ngSubmit)="savePost()" [formGroup]="formGroup">
      <mat-card-content>
        <mat-form-field>
          <label>
            <input [formControl]="titleFormControl" label="Title" matInput placeholder="Title"/>
          </label>
          <mat-error
            *ngIf="titleFormControl.invalid && titleFormControl.hasError('required')">
            You must set a title
          </mat-error>
          <mat-error
            *ngIf="titleFormControl.invalid && titleFormControl.hasError('maxlength')">
            The title must be less than 80 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <textarea [formControl]="contentFormControl" rows="5" label="Content" matInput placeholder="Content"></textarea>
          </label>
          <mat-error
            *ngIf="contentFormControl.invalid && contentFormControl.hasError('required')">
            You might want to add some content
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <mat-spinner *ngIf="isInProgress" diameter="36"></mat-spinner>
        <button [disabled]="formGroup.invalid || isInProgress" color="primary" mat-raised-button>Save</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
