<table [dataSource]="dataSource" mat-table matSort>
  <ng-container matColumnDef="username">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Username</th>
    <td *matCellDef="let element" mat-cell>{{element.username}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>E-Mail</th>
    <td *matCellDef="let element" mat-cell>{{element.email}}</td>
  </ng-container>
  <ng-container matColumnDef="rights">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Roles</th>
    <td *matCellDef="let element" mat-cell>
      <span *ngFor="let right of element.rights">{{right.right}}<br/></span>
    </td>
  </ng-container>
  <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
