mat-card {
  max-width: 650px;
  margin: 25px auto 0;
}

.wrapper {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin-right: 5px;
}

.error {
  color: #c2185b;
  margin: auto 5px;
}
