<div class="wrapper">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <form [formGroup]="loginFormGroup" (ngSubmit)="doLogin()">
      <mat-card-content>
        <mat-form-field>
          <label>
            <input matInput
                   placeholder="Username"
                   label="Username"
                   type="text"
                   name="username"
                   autocomplete="username"
                   [formControl]="usernameFormControl"
                   required/>
          </label>
          <mat-error *ngIf="usernameFormControl.invalid && usernameFormControl.hasError('required')">You must enter your
            username
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input matInput
                   placeholder="Password"
                   label="Password"
                   type="password"
                   name="password"
                   autocomplete="current-password"
                   [formControl]="passwordFormControl"
                   required/>
          </label>
          <mat-error *ngIf="passwordFormControl.invalid && passwordFormControl.hasError('required')">You must enter your
            password
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>
        <mat-spinner diameter="36" *ngIf="formSubmitted"></mat-spinner>
        <button mat-stroked-button [disabled]="loginFormGroup.invalid || formSubmitted">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
