<div class="wrapper">
  <mat-card>
    <mat-card-title>
      Login
    </mat-card-title>
    <form (ngSubmit)="doLogin()" [formGroup]="loginFormGroup">
      <mat-card-content>
        <mat-form-field>
          <label>
            <input [formControl]="usernameFormControl"
                   autocomplete="username"
                   label="Username"
                   matInput
                   name="username"
                   placeholder="Username"
                   required
                   type="text"/>
          </label>
          <mat-error *ngIf="usernameFormControl.invalid && usernameFormControl.hasError('required')">You must enter your
            username
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <label>
            <input [formControl]="passwordFormControl"
                   autocomplete="current-password"
                   label="Password"
                   matInput
                   name="password"
                   placeholder="Password"
                   required
                   type="password"/>
          </label>
          <mat-error *ngIf="passwordFormControl.invalid && passwordFormControl.hasError('required')">You must enter your
            password
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <span *ngIf="errorMessage" class="error">{{errorMessage}}</span>
        <mat-spinner *ngIf="formSubmitted" diameter="36"></mat-spinner>
        <button [disabled]="loginFormGroup.invalid || formSubmitted" mat-stroked-button>Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
